{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3 class="card-title mb-4">تسجيل الدخول</h3>

                <!-- زر تسجيل الدخول المباشر -->
                <a href="https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=703343096208-5p7qihj8mtv3kmnal92flgnuotl52h63.apps.googleusercontent.com&redirect_uri=http://localhost:8000/users/api/auth/google/callback/&scope=email%20profile%20openid&access_type=offline" class="btn btn-outline-dark btn-lg w-100">
                    <img src="https://img.icons8.com/color/24/000000/google-logo.png" alt="Google" class="me-2">
                    استمر باستخدام Google
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}